body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: purple;
    color: white;
}

h1 {
    color: #ffc107;
}

nav {
    border-top-right-radius: 150px;
    width: 350px;
}

.content {
    margin-top: 30px;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(33, 37, 41, 1);
    min-width: 250px;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: #ffc107;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.toast-body {
    padding: 0.75rem;
}

.toast.show {
    display: block;
    opacity: 1;
}

.me-auto {
    margin-right: auto;
}
